@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Permanent+Marker&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
main{
    padding: 30px;
    user-select: none;
}
header > span{
    font-size: 1.2rem;
    font-weight: 800;
    color: #6b778c;
    letter-spacing: 0.02rem;
}
header > h1{
    color: #182b4d;
    font-size: 2rem;
    font-weight: 900;
    margin-top: 5px;
}
.columns{
    display: flex;
    gap: 15px;
    margin-top: 50px;
}
.colum{
    width: 100%;
    background-color: #f4f5f7;
    height: 100dvh;
    border-radius: 8px;
}
.colum_title{
    color: #4d5c76;
    font-size: 0.9rem;
    font-weight: 900;
    margin: 20px;
}
.column_cards{
    padding: 5px;
    height: 100%;
}
.card{
    width: 100%;
    min-height: 70px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #dfe1e6;
    box-shadow: 0 2px 2px #dfe1e6;
    padding: 12px 14px;
    font-size: 0.9rem;
    font-weight: 900;
    color: #4d5c76;
    margin-bottom: 5px;
}
.column--highlight{
    background-color: #deebff;
    border: 2px solid #2482ff;
    transition: background-color 0.3s, border 0.3s;
}